.c {
  background-color: #fff;
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.c1 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  line-height: 1.15;
  orphans: 2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: center;
  widows: 2;
  margin: 0;
}
.c2 {
  -webkit-text-decoration-skip: none;
  color: #000;
  font-family: "Arial";
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  vertical-align: baseline;
}
.c3 {
  color: #000;
  display: block;
  font-family: "Times New Roman";
  font-size: 1.66667em;
  font-weight: 700;
  line-height: 1.2;
  orphans: 2;
  padding-bottom: 3pt;
  padding-top: 12pt;
  page-break-after: avoid;
  text-align: center;
  widows: 2;
  margin: 0;
}
.c4 {
  -webkit-text-decoration-skip: none;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.c5 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  height: 11pt;
  line-height: 1.2;
  orphans: 2;
  padding-bottom: 0;
  padding-top: 12pt;
  text-align: left;
  widows: 2;
  margin: 0;
}
.c6 {
  -webkit-text-decoration-skip: none;
  color: #000;
  font-family: "Times New Roman";
  font-size: 1.55em;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  vertical-align: baseline;
}
.c7 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  line-height: 1.15;
  orphans: 2;
  padding-bottom: 0;
  padding-top: 12pt;
  text-align: left;
  widows: 2;
  margin: 0;
}
.c8 {
  color: #000;
  font-family: "Times New Roman";
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  vertical-align: baseline;
}
.c9 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  line-height: 1.15;
  orphans: 2;
  padding-bottom: 12pt;
  padding-top: 12pt;
  text-align: left;
  widows: 2;
  margin: 0;
}
.c10 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  height: 11pt;
  line-height: 1.15;
  orphans: 2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
  widows: 2;
  margin: 0;
}
.c11 {
  color: #000;
  font-family: "Arial";
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
}
.c12 {
  color: #000;
  font-family: "Times New Roman";
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  vertical-align: baseline;
}
.c13 {
  -webkit-text-decoration-skip: none;
  color: #000;
  display: block;
  font-family: "Times New Roman";
  font-size: 1.66667em;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  orphans: 2;
  padding-bottom: 6pt;
  padding-top: 12pt;
  page-break-after: avoid;
  text-align: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  widows: 2;
  margin: 0.67em 0;
}
.c14 {
  -webkit-text-decoration-skip: none;
  color: #000;
  font-family: "Times New Roman";
  font-size: 1em;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  vertical-align: baseline;
}
.c15 {
  font-family: "Times New Roman";
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2;
}
.c16 {
  font-family: "Times New Roman";
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
}
.c17 {
  color: #000;
  font-family: "Times New Roman";
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  vertical-align: baseline;
}
.c18 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  height: 11pt;
  line-height: 1.15;
  orphans: 2;
  padding-bottom: 12pt;
  padding-top: 12pt;
  text-align: left;
  widows: 2;
  margin: 0;
}
.c19 {
  font-weight: 700;
  line-height: 1.2;
}
.c20 {
  color: #000;
  font-family: "Times New Roman";
  font-size: 1.2em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  vertical-align: baseline;
}
.c21 {
  font-family: "Times New Roman";
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.2;
}
.c22 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  line-height: 1.2;
  orphans: 2;
  padding-bottom: 0;
  padding-top: 12pt;
  text-align: left;
  widows: 2;
  margin: 0;
}
.c23 {
  color: #000;
  font-family: "Arial";
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
}
.c24 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  height: 11pt;
  line-height: 1.2;
  orphans: 2;
  padding-bottom: 0;
  padding-top: 12pt;
  text-align: center;
  widows: 2;
  margin: 0;
}
.c25 {
  -webkit-text-decoration-skip: none;
  color: #000;
  display: block;
  font-family: "Times New Roman";
  font-size: 1.66667em;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  orphans: 2;
  padding-bottom: 12pt;
  padding-top: 12pt;
  page-break-after: avoid;
  text-align: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  widows: 2;
  margin: 0.67em 0;
}
.c26 {
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-left-style: solid;
  border-left-width: 0;
  border-right-style: solid;
  border-right-width: 0;
  border-top-style: solid;
  border-top-width: 0;
  color: #000;
  display: block;
  font-family: "Times New Roman";
  font-size: 1.66667em;
  font-weight: 700;
  line-height: 1.2;
  orphans: 2;
  page-break-after: avoid;
  text-align: center;
  widows: 2;
  margin: 0;
  padding: 12pt 0 3pt;
}
.c27 {
  -webkit-text-decoration-skip: none;
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-left-style: solid;
  border-left-width: 0;
  border-right-style: solid;
  border-right-width: 0;
  border-top-style: solid;
  border-top-width: 0;
  color: #000;
  display: block;
  font-family: "Times New Roman";
  font-size: 1.66667em;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  orphans: 2;
  page-break-after: avoid;
  text-align: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  widows: 2;
  margin: 0.67em 0;
  padding: 0;
}
.c28 {
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-left-style: solid;
  border-left-width: 0;
  border-right-style: solid;
  border-right-width: 0;
  border-top-style: solid;
  border-top-width: 0;
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  line-height: 1.15;
  orphans: 2;
  text-align: left;
  widows: 2;
  margin: 0;
  padding: 0;
}
.c29 {
  border-bottom-style: solid;
  border-bottom-width: 0;
  border-left-style: solid;
  border-left-width: 0;
  border-right-style: solid;
  border-right-width: 0;
  border-top-style: solid;
  border-top-width: 0;
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  height: 11pt;
  line-height: 1.15;
  orphans: 2;
  text-align: left;
  widows: 2;
  margin: 0;
  padding: 0;
}
.c30 {
  font-style: italic;
  line-height: 1.2;
}
.c31 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  line-height: 1.15;
  orphans: 2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
  widows: 2;
  margin: 0;
}
.c32 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  line-height: 1.15;
  orphans: 2;
  padding-bottom: 0;
  padding-top: 0;
  text-align: left;
  widows: 2;
  margin: 0 30pt 0 0;
}
.c33 {
  color: #000;
  font-family: "Arial";
  font-size: 1.2em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  vertical-align: baseline;
}
.c34 {
  font-size: 1.2em;
  line-height: 1.2;
}
.c35 {
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.2;
}
.c36 {
  -webkit-text-decoration-skip: none;
  font-style: italic;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.c37 {
  color: #000;
  font-family: "Times New Roman";
  font-size: 0.6em;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
}
.c38 {
  -webkit-text-decoration-skip: none;
  font-size: 1.55em;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.c39 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  height: 11pt;
  line-height: 1.15;
  orphans: 2;
  padding-bottom: 0;
  padding-top: 12pt;
  text-align: left;
  widows: 2;
  margin: 0;
}
.c40 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  height: 11pt;
  line-height: 1.15;
  orphans: 2;
  padding-bottom: 12pt;
  padding-top: 12pt;
  text-align: center;
  widows: 2;
  margin: 0;
}
.c41 {
  -webkit-text-decoration-skip: none;
  color: #000;
  font-family: "Arial";
  font-size: 1.55em;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  vertical-align: baseline;
}
.c42 {
  color: #000;
  font-family: "Arial";
  font-size: 1.2em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  vertical-align: baseline;
}
.c43 {
  -webkit-text-decoration-skip: none;
  font-family: "Times New Roman";
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.c44 {
  -webkit-text-decoration-skip: none;
  color: #000;
  display: block;
  font-family: "Times New Roman";
  font-size: 1.66667em;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
  orphans: 2;
  padding-bottom: 6pt;
  padding-top: 20pt;
  page-break-after: avoid;
  text-align: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  widows: 2;
  margin: 0.67em 0;
}
.c45 {
  color: #000;
  font-family: "Arial";
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
}
.c46 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  line-height: 1.15;
  orphans: 2;
  padding-bottom: 12pt;
  padding-top: 12pt;
  text-align: left;
  widows: 2;
  margin: 0 30pt 0 0;
}
.c47 {
  color: #000;
  display: block;
  font-family: "Arial";
  font-size: 0.83333em;
  line-height: 1.15;
  orphans: 2;
  padding-bottom: 12pt;
  padding-top: 12pt;
  text-align: center;
  widows: 2;
  margin: 0;
}
.calibre {
  display: block;
  line-height: 1.2;
}
.calibre1 {
  line-height: 1.2;
}
.calibre2 {
  color: gray;
  display: none;
  height: 2px;
  margin: 0.5em auto;
  border: currentColor inset 1px;
}
.calibre3 {
  -webkit-transform: rotate(0rad) translatez(0);
  display: inline-block;
  height: 936px;
  line-height: 1.2;
  overflow: hidden;
  transform: rotate(0rad) translatez(0);
  width: 624px;
  margin: 0;
  border: #000 solid 0;
}
.calibre4 {
  -webkit-transform: rotate(0rad) translatez(0);
  height: 936px;
  line-height: 1.2;
  margin-left: 0;
  margin-top: 0;
  transform: rotate(0rad) translatez(0);
  width: 624px;
}
.calibre5 {
  -webkit-transform: rotate(0rad) translatez(0);
  display: inline-block;
  height: 624px;
  line-height: 1.2;
  overflow: hidden;
  transform: rotate(0rad) translatez(0);
  width: 624px;
  margin: 0;
  border: #000 solid 0;
}
.calibre6 {
  -webkit-transform: rotate(0rad) translatez(0);
  height: 624px;
  line-height: 1.2;
  margin-left: 0;
  margin-top: 0;
  transform: rotate(0rad) translatez(0);
  width: 624px;
}
.calibre7 {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre8 {
  display: block;
  list-style-type: decimal;
  margin: 1em 0;
}
.calibre9 {
  display: list-item;
}
